.button {
    background-color: #0E76BC;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #0E76BC;
    font-size: 20px;
    padding: 8px 20px;
    width: 120px;
}


.bannerCard {
    height: 200px;
    /* width: 300px; */
    background-color: #EEF4F8;
    border-radius: 4px;
    margin: 20px;
    display: flex;
    padding: 50px;
    /* justify-content: space-between; */
    align-items: center;
}